<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button
        mat-raised-button
        matTooltip="{{btnSignupLogin ?'Login':'Sign up'}}"
        matTooltipClass="example-tooltip-red"
        aria-label="Button that shows a red tooltip"
        class="example-button mx-4"
        (click)="getClickValue()"
      >
        {{btnSignupLogin ?'Login':'Sign up'}}
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
